{% load static %}
<footer class="site-footer">
    <div class="site-footer-legal">© 2018 <a href="https://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
    <div class="site-footer-right">
      Crafted with <i class="red-600 icon md-favorite"></i> by <a href="https://themeforest.net/user/creation-studio">Creation Studio</a>
    </div>
  </footer>
  <!-- Core  -->
  <script data-cfasync="false" src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'global/vendor/babel-external-helpers/babel-external-helpersfd53.js' %}"></script>
  <script src="{% static 'global/vendor/jquery/jquery.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/popper-js/umd/popper.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/bootstrap/bootstrap.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/animsition/animsition.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/mousewheel/jquery.mousewheel.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/asscrollbar/jquery-asScrollbar.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/asscrollable/jquery-asScrollable.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/ashoverscroll/jquery-asHoverScroll.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/waves/waves.minfd53.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'global/vendor/switchery/switchery.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/intro-js/intro.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/screenfull/screenfull.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/slidepanel/jquery-slidePanel.minfd53.js' %}"></script>

  <!-- Plugins For This Page -->
  <script src="{% static 'global/vendor/datatables.net/jquery.dataTablesfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-bs4/dataTables.bootstrap4fd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-rowgroup/dataTables.rowGroup.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-scroller/dataTables.scroller.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-responsive/dataTables.responsive.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-buttons/dataTables.buttons.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-buttons/buttons.html5.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-buttons/buttons.flash.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-buttons/buttons.print.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-buttons/buttons.colVis.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/asrange/jquery-asRange.minfd53.js' %}"></script>
  <script src="{% static 'global/vendor/bootbox/bootbox.minfd53.js' %}"></script>

  <!-- Scripts -->
  <script src="{% static 'global/js/State.minfd53.js' %}"></script>
  <script src="{% static 'global/js/Component.minfd53.js' %}"></script>
  <script src="{% static 'global/js/Plugin.minfd53.js' %}"></script>
  <script src="{% static 'global/js/Base.minfd53.js' %}"></script>
  <script src="{% static 'global/js/Config.minfd53.js' %}"></script>

  <script src="{% static 'assets/js/Section/Menubar.minfd53.js' %}"></script>
  <script src="{% static 'assets/js/Section/Sidebar.minfd53.js' %}"></script>
  <script src="{% static 'assets/js/Section/PageAside.minfd53.js' %}"></script>
  <script src="{% static 'assets/js/Plugin/menu.minfd53.js' %}"></script>

  <!-- Config -->
  <script src="{% static 'global/js/config/colors.minfd53.js' %}"></script>
  <script src="{% static 'assets/js/config/tour.minfd53.js' %}"></script>
  <script>
    Config.set('assets', 'assets');
  </script>

  <!-- Page -->
  <script src="{% static 'assets/js/Site.minfd53.js' %}"></script>
  <script src="{% static 'global/js/Plugin/asscrollable.minfd53.js' %}"></script>

  <script src="{% static 'global/js/Plugin/slidepanel.minfd53.js' %}"></script>
  <script src="{% static 'global/js/Plugin/switchery.minfd53.js' %}"></script>

  <script src="{% static 'global/js/Plugin/datatables.minfd53.js' %}"></script>


  <script src="{% static 'assets/examples/js/tables/datatable.minfd53.js' %}"></script>
  <script src="{% static 'assets/examples/js/uikit/icon.minfd53.js' %}"></script>


  <!-- Google Analytics -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../../../../www.google-analytics.com/analytics.js',
      'ga');

    ga('create', 'UA-65522665-1', 'auto');
    ga('send', 'pageview');
  </script>
